services:
  redis:
    image: redis:7
    platform: linux/arm64
    container_name: redis
    ports:
      - "6379:6379"

  # mongo:
  #   image: mongo:7
  #   container_name: mongo
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongo_data:/data/db

  # api:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.api
  #   container_name: api-service
  #   ports:
  #     - "3000:3000"
  #   env_file:
  #     - .env
  #   depends_on:
  #     - redis
  #     - mongo

#   worker:
#     build:
#       context: .
#       dockerfile: Dockerfile.worker
#     container_name: worker-service
#     env_file:
#       - .env
#     depends_on:
#       - redis
#       - mongo

# volumes:
#   mongo_data:
